@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth!important;
    -webkit-scroll-behavior: smooth;
    transition: 600ms;
}



body {
    
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth!important;
    
}
.container {

    max-width: 75%;
}

.bg-lp {

    background-image: url(https://uploaddeimagens.com.br/images/003/950/654/full/Grupo_8.png?1658405306);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 788px;
}

.lp-shadow {

    box-shadow: 0.00px 10.00px 20px 3px rgba(0,0,0,0.18);
}

.carousel {

    scrollbar-width: none;
}

.shadow-shadow-card {

    box-shadow: 0px 3px 30px 5px rgba(0,0,0,0.1);
}


.carousel::-webkit-scrollbar {

    display: none;
    width: 1px;
    height: 1px;
}

.bg-modal {

    background-image: url(https://uploaddeimagens.com.br/images/003/906/911/full/Grupo_3138.png?1655487147);
    background-size: cover;
    
}

.bg-hero-bg-contato {

    background-size: cover;
    background-repeat: no-repeat;
}

.bg-trabalheconosco {

    background-image: url(https://uploaddeimagens.com.br/images/003/907/088/full/Grupo_3142.png?1655494614);
    background-size: cover;
}

.bg-revendas {

    background-image: url(https://uploaddeimagens.com.br/images/003/907/124/full/Grupo_3133.png?1655496301);
    background-size: cover;
}

.bg-semifooter {

    background-image: url(https://static.wixstatic.com/media/0c951b_5dc4ad5298ef4b3baadaddde6be1c426~mv2.png/v1/fill/w_1709,h_534,al_c,q_90,enc_auto/0c951b_5dc4ad5298ef4b3baadaddde6be1c426~mv2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pulse-anima {

    animation: pulseAnima 2s infinite;
}

@keyframes pulseAnima {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.5);
        opacity: 0;
    }

}

.pulse-anima2 {

    animation: pulseAnima 1.8s infinite;
}

@keyframes pulseAnima2 {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.1);
        opacity: 0;
    }

}

.pulse-anima3 {

    animation: pulseAnima 1.5s infinite;
}

@keyframes pulseAnima3 {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.3);
        opacity: 0;
    }

}

.styled-scrollbar::-webkit-scrollbar
{

    background-color: transparent;
    height: 3px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {

    background-color: #fe7c1a;
    border-radius: 100px;

}

.styled-scrollbar::-webkit-scrollbar-track {

    background: rgba(128, 128, 128, 0.149);
    opacity: 0.3;
}

.styled-scrollbar::-webkit-scrollbar-button:start:decrement,
.styled-scrollbar::-webkit-scrollbar-button:end:increment  {
	display: block;
}

.styled-scrollbar {

    scrollbar-color: #fe7c1a;
    scrollbar-width: thin;
}

.lp-button {

    transition: all 0.2s ease, visibility 0s;
border: 0px solid rgb(71, 67, 197);
background: 0% 0%/auto auto linear-gradient(126deg, #00498d 0%, #0073dc 100%);
box-shadow: 2.83px 2.83px 15px 0 rgba(0, 0, 0, 0.4);
border-radius: 8px;
}

.bg-gradiente {

    background: 0% 0%/auto auto linear-gradient(126deg, #00498d 0%, #0073dc 100%);

}

.overflow-animation {

    animation: overflow-anima 0s infinite alternate-reverse linear;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.description-carousel {

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.obrigado-bg {

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(/public/static/obrigado-bg.png);

}

@keyframes overflow-anima {
    
    0% { -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);}

    100% { -webkit-transform: translate3d(-50%,0,0);
            transform: translate3d(-50%,0,0);}
}

@media screen and (max-width: 1558px) {

    html {

        font-size: 88.00%;
    }
    
    .container {

        max-width: 90%;
    }


}

@media screen and (max-width: 1280px) {

    html {

        font-size: 85.00%;
    }

    
    .container {

        max-width: 95%;
    }
}

@media screen and (max-width: 1024px) {

    .container {

        max-width: 90%;
    }

    html {

        font-size: 80.00%;
    }

    .bg-lp {

        background-image: url(https://uploaddeimagens.com.br/images/003/950/654/full/Grupo_8.png?1658405306);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1208px;
    }
}

@media screen and (max-width: 768px) {

    html {

        font-size: 75.00%;
    }
}

@media screen and (max-width: 428px) {
    
    html {

        font-size: 75.00%;
    }

    .bg-lp {

        background-image: url(https://uploaddeimagens.com.br/images/003/950/654/full/Grupo_8.png?1658405306);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1108px;
    }
}